ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#header {
	background: #F44336;
	height: 110px;
	color: white;
	box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
	font-family: 'Roboto';
}

/*h6 {
    font-family: 'Roboto';
    font-size: 20px;
}*/

#text1 {
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
}

#main {
	margin-top: 115px; 
	background: #FAFAFA;
}

#col1 {
	background: #FAFAFA;
    font-family: 'Roboto';
    font-size: 15px;
}

#col2 {
	background: #FAFAFA;
}

/*.navbar {
	margin-top: 20px;
    color: black;
}*/

.thumbnail {
    width: 250px;
    height: 250px;
    overflow: hidden;
    display: inline;
    float: left;
    margin-right: 20px;
    border-color: white;
 }

/* .thumbnail:hover {
   moz-transform:scale(2); 
-webkit-transform:scale(2);
-o-transform:scale(2);
}*/

/*.thumbnail img{
margin:50px;
height:100px;
width:100px;
-moz-transition:-moz-transform 0.5s ease-in; 
-webkit-transition:-webkit-transform 0.5s ease-in; 
-o-transition:-o-transform 0.5s ease-in;
}
.thumbnail img:hover{
-moz-transform:scale(2); 
-webkit-transform:scale(2);
-o-transform:scale(2);
}*/