ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#header {
	background: #F44336;
	height: 110px;
	color: white;
	box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
	font-family: 'Roboto';
}


#text1 {
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
}

#main {
	margin-top: 115px; 
	background: #FAFAFA;

}

#col1 {
	background: #FAFAFA;
    font-family: 'Roboto';
    font-size: 15px;
   /* position: fixed;
    left: 100px;
    top: 30px;*/
}

#col2 {
	background: #FAFAFA;
}


.thumbnail {
    width: 250px;
    height: 250px;
    overflow: hidden;
    display: inline;
    float: left;
    margin-right: 20px;
    border-color: white;
 }

 